// COLORS
:root {
  // Grey
  --clr-dark-grey: #2f455c;
  --clr-light-grey: #747474;
  --clr-grey: #dae1e7;

  //   Green
  --clr-green: #26bbaa;
  --clr-light-green: #19bbc1;

  //   Blue
  --clr-blue: #176fba;
  --clr-light-blue: #1dcdfe;

  --clr-black: #23272b;
  --clr-white: #fff;
  --clr-yellow: #eeda2f;

  --clr-purple: #e269ab;
  --clr-orange: #f7612c;

  //   --clr-green: #21d0b2;
}
