.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--white-space_default);
  padding: var(--white-space_default);
}

.card {
  background-color: #f5f5f5;
  padding: var(--white-space_default);
}
