.menu-toggle {
  cursor: pointer;
  i {
    font-size: 200%;
    color: var(--clr-grey);
  transition: 0.3s ease-in-out;

  }
  @media (min-width: 720px) {
    display: none;
  }

  &:hover {
    i {
      color: var(--clr-white);
    }
  }
}
