.testimonials {
  padding: var(--white-space_default);

  text-align: center;
}

.testimonial {
  padding: var(--white-space_default);
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  p {
    margin-bottom: var(--white-space_default);
  }
  &__comment {
      font-size: 2rem;
      line-height: 1.2;
      font-style: italic;
      font-weight: 500;
      color: #555;
  }
}
