/* ===== IMPORT ALL STYLINGS ===== */
:root {
  /* Restyling colors to use the HSL values */
  --blue: hsl(225, 73%, 15%);
  --light-blue: hsl(225, 74%, 50%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --orange: hsl(6, 85%, 60%);
  --trans_blue: hsla(225, 73%, 15%, 0.05);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--font-sans-serif);
  font-size: 14px;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  overflow-y: scroll;
  scroll-padding-top: 100px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

:root {
  --font-serif: "Open Sans";
  --font-sans-serif: "Rubik";
}

:root {
  --white-space_default: 20px;
}

:root {
  --phone-screen: 620px;
  --tablet-screen: 720px;
  --laptop-screen: 960px;
}

button {
  padding: var(--white-space_default) calc(var(--white-space_default) * 2);
  outline: 0;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
}

.divider {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--clr-orange)), to(var(--clr-dark-grey)));
  background: linear-gradient(var(--clr-orange), var(--clr-dark-grey));
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: var(--white-space_default) auto;
  opacity: 0.7;
}

#scrollToTop {
  position: fixed;
  bottom: var(--white-space_default);
  left: var(--white-space_default);
}

section {
  line-height: 1.6;
  position: relative;
  scroll-snap-align: start;
  height: auto;
}

section .section-title {
  text-align: center;
  padding: calc(var(--white-space_default) * 1.8);
  background-color: var(--blue);
  color: var(--white);
  font-size: clamp(20px, calc(2vw + 10px), 2.5rem);
  line-height: 1.1;
}

section > div {
  padding: var(--white-space_default) 0;
}

.choose-data-analysts {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  padding: 2rem 0;
  scroll-snap-align: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 680px) {
  .choose-data-analysts {
    -ms-grid-columns: 2, 1fr;
        grid-template-columns: 2, 1fr;
  }
}

.choose-data-analysts h2 {
  line-height: 1;
  font-weight: 700;
}

#hero {
  position: relative;
  min-height: calc(100vh - 5rem);
  background-color: var(--blue);
  height: auto;
  left: 0;
  width: 100%;
}

#hero h1 {
  line-height: 1.2;
  color: #fff;
  font-weight: 300;
  margin-bottom: 2rem;
}

#hero button {
  background-color: var(--light-blue);
  color: #fff;
  border: none;
  border-radius: 0px;
  font-size: 1rem;
  font-family: inherit;
  letter-spacing: 1px;
}

#about > div {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.offers {
  padding: 2rem;
}

.offers h3 {
  padding: var(--white-space_default) 0;
}

.offers .section-title {
  margin-bottom: 20px;
}

.offers button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: var(--white-space_default);
  background-color: var(--light-blue);
  color: #fff;
  letter-spacing: 1px;
  border-radius: 30px;
  font-weight: 500;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.offers button:hover {
  background-color: var(--light-blue) !important;
  border-radius: 0;
}

.testimonials {
  position: relative;
}

.testimonials_navigation {
  position: absolute;
  bottom: -10px;
  margin: 0;
  padding: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials_navigation i {
  opacity: 0.7;
  font-size: 2rem;
  padding: var(--white-space_default);
}

.action-section {
  background-color: var(--trans_blue);
  display: -ms-grid;
  display: grid;
  padding: var(--white-space_default) 5%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.action-section h2 {
  white-space: pre-wrap;
}

.action-section .row {
  width: 100%;
}

.action-section form {
  width: 100%;
  border-radius: 20px;
  padding: 2rem;
}

.action-section .form-group {
  width: 100%;
  margin-bottom: 20px;
}

.action-section .form-group input {
  width: 100%;
  padding: 20px 10px;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--light-blue);
}

@media (max-width: 720px) {
  .action-section {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.action-section h2 {
  font-size: 3rem;
  line-height: 1.1;
}

@media (max-width: 720px) {
  .action-section h2 {
    font-size: 2.25rem;
  }
}

.action-section button {
  background-color: var(--blue);
  color: #fff;
  outline: none;
  border: none;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  font-size: 100%;
  letter-spacing: 1px;
  margin: var(--white-space_default) 0;
  -webkit-box-shadow: 0 0 10px rgba(33, 80, 222, 0.207);
          box-shadow: 0 0 10px rgba(33, 80, 222, 0.207);
  text-align: center;
}

.action-section button:hover {
  background-color: var(--light-blue);
}

#benefits .cards .card .image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

#benefits .cards .card .image img {
  height: 100%;
  width: 100%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

#benefits .cards {
  padding: 20px 5%;
}

.logo {
  height: 100%;
  width: 80px;
  cursor: pointer;
}

.logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {
  margin-right: 5px;
}

nav li.contactus {
  border: 2px solid var(--orange);
}

nav li.contactus a {
  padding: calc(var(--white-space_default) / 1.8) calc(var(--white-space_default) / 1);
}

nav li.contactus:hover {
  background: var(--orange);
}

nav a {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc(var(--white-space_default) / 1.4) calc(var(--white-space_default) / 2);
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 10;
  opacity: 0.85;
}

nav a i {
  margin-left: 8px;
}

nav a:hover, nav a.active {
  opacity: 1;
}

@media (max-width: 720px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .navigation {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: calc(100vh - 80px);
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    z-index: -1;
    width: 100%;
  }
  nav .navigation .nav-list {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    height: calc(100vh - 80px);
    background-color: var(--blue);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: auto;
    padding-left: 2rem;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  nav .navigation .nav-list li {
    line-height: 45px;
  }
  nav .navigation .nav-list a {
    height: 100%;
    color: #fff;
  }
  nav .navigation .nav-list.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  nav .navigation.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 5rem;
  }
}

nav i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cards {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 2rem 5%;
  grid-gap: var(--white-space_default);
}

.cards .card {
  min-height: 200px;
  height: auto;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background-color: #fcfcfc;
  padding: var(--white-space_default);
}

.cards .card:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-box-shadow: 0 0 5px 10px rgba(21, 12, 60, 0.05);
          box-shadow: 0 0 5px 10px rgba(21, 12, 60, 0.05);
}

.cards .card.why {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(21, 12, 60, 0.05);
  padding: 2rem !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cards .card.why p {
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
}

.cards .card.why i {
  font-size: 3rem;
  color: var(--blue);
}

.cards .card.reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 15px rgba(21, 12, 60, 0.1);
          box-shadow: 0 5px 15px rgba(21, 12, 60, 0.1);
  min-height: 350px;
  padding: 0;
}

.cards .card.reason > div {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #3d5a5a;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cards .card.reason > div > div {
  padding: 20px;
  background-color: rgba(10, 24, 66, 0.85);
  background-repeat: no-repeat;
  color: #fff;
}

.cards .card.reason > * {
  margin-bottom: 15px;
}

.cards .card.reason a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  padding: 10px 20px;
}

.cards .card.reason a i {
  margin-right: 10px;
}

.cards .card.reason h2 {
  opacity: 0.85;
}

.cards .card.reason p {
  line-height: 1.7;
}

.cards .card.service {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 15px rgba(21, 12, 60, 0.1);
          box-shadow: 0 5px 15px rgba(21, 12, 60, 0.1);
  padding-bottom: 4rem;
}

.cards .card.service button {
  position: absolute;
  bottom: 10px;
  padding: 10px;
  width: 90%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: rgba(240, 84, 66, 0.337);
  font-family: inherit;
  font-weight: 700;
}

.menu-toggle {
  position: relative;
  width: auto;
  cursor: pointer;
  margin-left: 5rem;
}

.menu-toggle i {
  font-size: 2rem;
}

.menu-toggle.white span::before, .menu-toggle.white span::after {
  background: #fff;
}

@media (min-width: 720px) {
  .menu-toggle {
    display: none;
  }
}

.testimonials {
  padding: var(--white-space_default);
  text-align: center;
}

.testimonial {
  padding: var(--white-space_default) calc(var(--white-space_default) * 2);
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial_profile {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial__image {
  position: relative;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  -ms-grid-column-align: center;
      justify-self: center;
}

.testimonial__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial__image::after {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 100%;
  width: 100%;
  content: "";
  background: rgba(103, 165, 3, 0.3);
}

@media (max-width: 720px) {
  .testimonial > div {
    margin-bottom: var(--white-space_default);
  }
}

.testimonial__name {
  font-size: 2rem;
}

.testimonial__comment {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 500;
  color: #555;
}

.partners-wrapper {
  background-color: #000;
  overflow: hidden;
  width: 100%;
}

.partners {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  padding: 0 20px;
}

.partners .partner {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: 100px;
  scroll-snap-align: start;
  text-align: center;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--clr-dark-grey);
  padding: var(--white-space_default);
  -webkit-box-shadow: 0 0 5px var(--clr-dark-grey);
          box-shadow: 0 0 5px var(--clr-dark-grey);
  color: #fff;
}

.partners .partner:not(:last-child) {
  margin-right: var(--white-space_default);
}

.partners .partner > * {
  margin: 8px 0;
}

.partners .partner__picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #fff;
}

.partners .partner__picture img {
  height: 100%;
  width: 100%;
}

.partners .partner__name {
  font-weight: 500;
}

.partners .partner__position {
  position: relative;
  font-size: 85%;
  line-height: 1.2;
  padding-bottom: 10px;
}

.partners .partner__position::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 6px;
  background-color: var(--clr-dark-grey);
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0.2);
          transform: scaleX(0.2);
}

.partners .partner:not(:last-child) {
  margin-bottom: var(--white-space_default);
}

.slider {
  position: relative;
  width: 100%;
  height: calc(100vh - 5rem);
  overflow: hidden;
}

.slider .slides {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style-type: none;
}

.slider .slides li input[type="radio"] {
  position: relative;
  bottom: 1rem;
  z-index: 1;
  height: 20px;
  width: 20px;
}

.slider .slides li input[type="radio"]:not(:last-child) {
  margin-right: 10px;
}

.slider .slides li input[type="radio"]:checked ~ .slide {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.slider .slides li .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slides li .slide > div {
  background-color: rgba(10, 24, 66, 0.7);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slides li .slide > div h1 {
  letter-spacing: 2px;
}

.slider .slides li .slide-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slides li .slide-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.slider .slides li .slide h1 {
  font-size: clamp(20px, calc(2vw + 10px), 2.5rem);
}

@media (min-width: 680px) {
  .slider .slides li .slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#intro {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-blue);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

#introContent {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#introContent.hide {
  opacity: 0;
}

#intro.hide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.formOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.formOptions button {
  width: 200px;
  border-radius: 5px;
  background-color: var(--clr-green);
  color: #fff;
  font-weight: 500;
  margin-top: 20px;
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.formOptions button:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px var(--clr-green);
          box-shadow: 0 0 10px var(--clr-green);
  color: var(--clr-green);
}

.formOptions.close {
  display: none;
}

.formContainer {
  -webkit-transform: scale(0);
          transform: scale(0);
  height: 100%;
  width: 100%;
}

.formContainer.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.display {
  height: 100%;
}

.form {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.form > div {
  width: 100%;
  height: 100%;
}

.form > div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 720px) {
  .form > div {
    display: none;
  }
}

.formOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
}

form h2 {
  margin-bottom: 20px;
}

form .input-container {
  margin-bottom: 20px;
}

form label {
  display: block;
}

form input {
  width: 100%;
  padding: 10px 20px;
  font-size: 1rem;
}

form button {
  background-color: var(--clr-green);
  color: var(--clr-white);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}

.account-wrapper {
  padding: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 20px;
}

.account-wrapper > p {
  text-align: center;
  color: var(--clr-blue);
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 18px;
  margin-bottom: 20px;
}

.accounts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 720px) {
  .accounts {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.account {
  padding: 20px;
  width: 100%;
}

.account button {
  width: 100%;
  margin-top: 20px;
}

.reasons-wrapper > h1 {
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  background-color: var(--blue);
  color: #fff;
}

.reasons-wrapper > h1 span {
  font-size: 1rem;
  display: block;
  margin-top: 20px;
  font-weight: 400;
}

.reasons-wrapper .reasons-to-choose {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 4rem 5%;
}

.reasons-wrapper .reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.reasons-wrapper .reason:first-child a {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.reasons-wrapper .reason .dot {
  height: 14px;
  width: 14px;
  margin: .15rem 1rem;
  border-radius: 50%;
  background-color: #f05442;
}

.reasons-wrapper .reason > * {
  margin-bottom: 15px;
}

.reasons-wrapper .reason a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.reasons-wrapper .reason a i {
  margin: 0 10px;
}

.reasons-wrapper .reason_diag {
  height: 100px;
  width: 100px;
  background-color: var(--clr-blue);
  border-radius: 50%;
}

.reasons-wrapper .reason h2 {
  opacity: 0.85;
}

.slider {
  position: relative;
  width: 100%;
  height: calc(100vh - 5rem);
  overflow: hidden;
}

.slider .slides {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style-type: none;
}

.slider .slides li input[type="radio"] {
  position: relative;
  bottom: 1rem;
  z-index: 1;
  height: 20px;
  width: 20px;
}

.slider .slides li input[type="radio"]:not(:last-child) {
  margin-right: 10px;
}

.slider .slides li input[type="radio"]:checked ~ .slide {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.slider .slides li .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slides li .slide > div {
  background-color: rgba(10, 24, 66, 0.7);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slides li .slide > div h1 {
  letter-spacing: 2px;
}

.slider .slides li .slide-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slides li .slide-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.slider .slides li .slide h1 {
  font-size: clamp(20px, calc(2vw + 10px), 2.5rem);
}

@media (min-width: 680px) {
  .slider .slides li .slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.accordion {
  position: relative;
  font-size: 14px;
}

.accordion .label {
  position: relative;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(12, 12, 70, 0.111);
          box-shadow: 0 2px 5px rgba(12, 12, 70, 0.111);
  cursor: pointer;
}

.accordion .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
}

.accordion .content {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  height: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  overflow-y: auto;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  margin-bottom: -60px;
}

.accordion .content > div {
  padding: 20px;
  padding-top: 1rem;
}

.accordion.active .content {
  display: -ms-grid;
  display: grid;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
  height: auto;
  margin-bottom: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5rem;
  padding: var(--white-space_default) 5%;
  background-color: var(--blue);
  -webkit-box-shadow: 0 0 5px var(--blue);
          box-shadow: 0 0 5px var(--blue);
  color: white;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

header img {
  -o-object-fit: cover;
     object-fit: cover;
}

#main {
  position: relative;
  margin-top: 5rem;
  min-height: calc(100vh - 5rem);
  height: auto;
}

.container {
  height: auto;
}

footer {
  width: 100%;
}

footer .tabs {
  padding: calc(var(--white-space_default) * 2);
  background-color: var(--blue);
  width: 100%;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

footer .tabs .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

footer .tabs .tab h2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 10px;
}

footer .tabs .tab h2::before {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: "";
  height: 5px;
  width: 20%;
  background-color: var(--light-blue);
}

footer .tabs .tab ul {
  list-style: none;
  padding-left: 2px;
}

footer .tabs .tab ul li {
  line-height: 32px;
  margin-bottom: 10px;
}

footer .tabs .tab ul a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
  font-style: 14px;
}

footer .tabs .tab ul a:hover {
  opacity: 1;
}

@media (max-width: 720px) {
  footer .tabs {
    -ms-grid-columns: 11fr;
        grid-template-columns: 11fr;
  }
}

footer .copyright {
  text-align: center;
  padding: var(--white-space_default);
}

#contact {
  width: 100%;
  height: calc(100% - 5rem);
}

#contact main {
  position: relative;
  color: #fff;
  height: calc(100% - 5rem);
  margin-bottom: 0 !important;
}

#contact .contact {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .contact .modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--blue);
}

#contact .pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .pre > div {
  height: 4rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: var(--blue);
  -webkit-box-shadow: 0 0 5px 10px var(--blue);
          box-shadow: 0 0 5px 10px var(--blue);
  cursor: pointer;
}

#contact .pre > div:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 580px) {
  #contact .pre {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #contact .pre > div:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

#blog header .menu-toggle {
  display: block;
}

#blog main {
  width: 100%;
  max-width: 960px;
  margin: auto;
  margin-top: 5rem;
  padding: 20px;
}

#blog main .page-title {
  text-align: center;
  padding: 10px 0 20px;
}

#blog main .blog {
  line-height: 1.6;
}

#blog main .blog__title {
  padding: 10px 0;
}

#blog main .blog__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#blog main .blog__card {
  padding: 20px;
  background-color: #f3f3f3;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#blog main .blog__card:hover {
  background-color: #333;
  color: #f2f2f2;
}

#blog main .blog__illustration {
  height: 180px;
  width: 100%;
}

#blog main .blog__illustration img {
  height: 100%;
  width: 100%;
}

#blog main .blog__pre {
  text-align: justify;
}

#blog main .blog__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  margin-top: 20px;
  font-size: 80%;
}

#blog main .blog__actions > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blog main .blog__actions > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

#blog main .blog__actions > div > div i {
  margin-left: 5px;
  opacity: 0.7;
  font-size: 1.1rem;
}

#blog main .blog__actions > div I {
  font-size: 1.1rem;
}

#blog main .blog__author {
  font-weight: bold;
  color: #555;
}

#blog main .blog__author span {
  color: #111;
  margin-left: 5px;
}

#authentication {
  height: calc(100% - 10rem);
}

#authentication header {
  background-color: var(--clr-blue);
  -webkit-box-shadow: 0px 0px 10px 0 #fff;
          box-shadow: 0px 0px 10px 0 #fff;
}

#authentication header .nav-list {
  color: #fff;
}

#authentication header .menu-toggle span::after, #authentication header .menu-toggle span::before {
  background-color: #fff;
}

#authentication main {
  width: 100%;
  max-width: 960px;
  margin: auto;
  margin-top: 5rem;
  padding: 20px;
}

#VerifiedAnalysts {
  padding-bottom: 5rem;
  color: #000;
}

#VerifiedAnalysts .container-title {
  position: relative;
  height: 250px;
  color: #38dbff;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
  font-size: 1.2rem;
}

#VerifiedAnalysts .container-title#skew-1 {
  background: white;
}

#VerifiedAnalysts .container-title#skew-1::after {
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
}

#VerifiedAnalysts .container-title::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--blue);
  content: "";
  z-index: -1;
  bottom: 0;
  left: 0;
}

#VerifiedAnalysts .container-content {
  padding: 20px 5% !important;
}

#VerifiedAnalysts .container-content > div {
  margin-bottom: 3rem;
  background-color: rgba(240, 84, 66, 0.05);
}

#VerifiedAnalysts .container-content h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  padding-left: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(240, 84, 66, 0.111);
          box-shadow: 0 3px 5px rgba(240, 84, 66, 0.111);
}

#VerifiedAnalysts .container-content h1 i {
  margin-left: 20px;
  font-size: 1rem;
}

#VerifiedAnalysts .container-content ul {
  margin-left: 2rem;
  font-size: 1rem;
  padding: 2rem 5%;
}

#VerifiedAnalysts .container-content .about-us,
#VerifiedAnalysts .container-content .mission,
#VerifiedAnalysts .container-content .vision,
#VerifiedAnalysts .container-content .values {
  background-color: var(--blue);
  -webkit-box-shadow: 0 5px 10px rgba(61, 39, 39, 0.333);
          box-shadow: 0 5px 10px rgba(61, 39, 39, 0.333);
}

#VerifiedAnalysts .container-content .about-us p,
#VerifiedAnalysts .container-content .about-us ul,
#VerifiedAnalysts .container-content .mission p,
#VerifiedAnalysts .container-content .mission ul,
#VerifiedAnalysts .container-content .vision p,
#VerifiedAnalysts .container-content .vision ul,
#VerifiedAnalysts .container-content .values p,
#VerifiedAnalysts .container-content .values ul {
  line-height: 2;
  padding: 2rem 5%;
  color: #fff;
  font-weight: 300;
  font-style: 1rem;
}

#VerifiedAnalysts .container-content .team .cards {
  padding: 20px 5%;
}

#VerifiedAnalysts .title {
  background: var(--blue);
  font-family: var(--font-san-serif);
  padding: 2rem;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-family: var(--serif);
  text-transform: uppercase;
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  z-index: 1000;
  font-size: 2rem;
  letter-spacing: 1.2px;
}

#VerifiedAnalysts .analysts {
  padding: 2rem 0;
}

#VerifiedAnalysts .analysts.cards {
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#VerifiedAnalysts .analysts .analyst {
  -webkit-box-shadow: 0 5px 15px rgba(21, 12, 60, 0.1);
          box-shadow: 0 5px 15px rgba(21, 12, 60, 0.1);
  width: 100%;
}

#VerifiedAnalysts .analysts .analyst__image {
  position: relative;
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 10px;
}

#VerifiedAnalysts .analysts .analyst__image::after {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(240, 84, 66, 0.111);
}

#VerifiedAnalysts .analysts .analyst__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#VerifiedAnalysts .analysts .analyst button {
  margin-top: 1rem;
  padding: 10px 1rem;
  background-color: var(--blue);
}

#VerifiedAnalysts .analysts .analyst__name {
  font-size: 1rem;
  font-family: var(--serif);
  font-weight: bold;
  color: var(--blue);
  margin-bottom: -1px;
  text-align: center;
}

#VerifiedAnalysts .analysts .analyst__degree {
  opacity: 0.5;
  font-weight: 500;
  margin-bottom: 5px;
}

#VerifiedAnalysts .analysts .analyst__expertise {
  line-height: 1.6;
  font-weight: 500;
  opacity: 0.9;
}

#VerifiedAnalysts .analysts .analyst__expertise span {
  font-weight: 500;
}

#VerifiedAnalysts button {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--light-blue);
  -webkit-box-shadow: 0 5px 15px rgba(21, 12, 60, 0.501);
          box-shadow: 0 5px 15px rgba(21, 12, 60, 0.501);
  color: #fff;
}

#VerifiedAnalysts button i {
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */